.caption-text {
  color:#3a7ca8 !important;
  line-height:32px;
  font-weight:bold;
  text-transform:uppercase;
  font-size:85%;
  margin-top:12px !important;
  padding-bottom:8px !important
}

.fa-bars {
  padding-top:6.46667px
}